:root {
    --logo-color-1: #a33841;
    --contrast-color: #d4e4ff;
}

* {
    box-sizing: border-box;
    /* cursor: none; */
}

html {
    font-family: "Kumbh Sans";
    scroll-behavior: smooth;
}

/* heading */

h1 {
    font-family: "Gilda Display";
    font-size: 4.5em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 1.2em;
    padding-top: 10vh;
}

h4 {
    font-weight: bold;
    font-size: 1.5em;
}

a {
    position: relative;
    text-decoration: none;
    color: black;
}

a::after {
    content: '';
    width: 0%;
    background: black;
    height: 1px;
    position: absolute;
    left: 0%;
    bottom: -1px;
    transition: 0.1s linear;
}

a:hover::after {
    width: 25%;
    transition: 0.1s linear;
}

a:active::after {
    width: 100%;
    transition: 0.1s linear;
}

/* layout */

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    height: 30vh;
    width: 100%;
    display: grid;
    grid-template: 17.5vh 1fr / 1fr;
    align-items: center;
    overflow: hidden;
    will-change: auto;
}

.header-container {
    padding: 4%;
    padding-bottom: 0;
    max-width: 100%;
    z-index: 98;
}

.header-diag {
    position: absolute;
    width: 150%;
    height: 100%;
    background: white;
    clip-path: polygon(0 0, 0 100%, 100% 0);
}

header h1 {
    margin-bottom: 10px;
}

nav {
    position: fixed;
    background: white;
    height: 100%;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    padding: 15vh;
    transition: 0.1s linear;
}

@media (max-width: 768px) {
    header {
        font-size: 0.75em;
    }

    nav {
        padding: 5vh;
    }
}

nav.hidden {
    opacity: 0;
    pointer-events: none;
    transition: 0.1s linear;
}

nav ul {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 10px;
    grid-gap: 10px;
}

main {
    padding: 5% 7.5vh;
}

.hero {
    height: 90vh;
    margin-top: 10vh;
    overflow: hidden;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.bottom-diag {
    max-width: 100%;
    overflow: hidden;
    height: calc(20vh + 2px);
    margin-top: calc(-20vh - 2px);
    background: white;
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
}

.service-container {
    display: flex;
    flex-flow: row wrap;
}

.service {
    width: 33%;
    margin-bottom: 1em;
    padding-bottom: 85px;
    padding-right: 85px;
    display: grid;
    grid-template-rows: 200px auto auto;
    grid-gap: 25px;
}

@media (max-width: 768px) {
    .service {
        width: 100%;
        grid-template-rows: 150px auto auto;
        grid-gap: 25px;
        padding-right: 0;
        padding-bottom: 25px;
        padding-top: 25px;
        border-top: 1px solid black;
    }
}

.service .img-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0 20px;
    padding-bottom: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.service .img-container img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.service p {
    line-height: 2em;
}

.work-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.work-card {
    width: calc(50% - 10px);
    height: 45vh;
    position: relative;
    transition: 0.1s linear;
    margin-right: 10px;
    margin-bottom: 10px;
}

.work-card:hover {
    filter: contrast(1.2) saturate(1.1);
    transition: 0.1s linear;
}

.work-card h4 {
    position: absolute;
    bottom: 1.3em;
    left: 50px;
    color: white;
    z-index: 2;
    transition: 0.1s linear;
    
}

.work-card h4::after {
    content: '';
    position: absolute;
    height: 2px;
    background: white;
    width: 0%;
    bottom: -3px;
    left: 0;
    transition: 0.1s linear;
}

.work-card:hover h4 {
    left: 60px;
    transition: 0.1s linear;
}

.work-card:hover h4::after {
    width: 25px;
    transition: 0.1s linear;
}

.work-card:active h4::after {
    width: 100%;
    transition: 0.1s linear;
}

.work-card a {
    height: 100%;
    width: 100%;
    display: block;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.work-card .work-img {
    flex: 1;
    max-height: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .work-card {
        width: 100%;
    }

    .work-card img {
        top: 0%;
        height: 100%;
        width: auto;
    }
}

.client-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}

@media (max-width: 768px) {
    .client-container {
        grid-template-columns: 1fr;
    }
}

.client-container h4 {
    font-weight: normal;
}

.client {
    height: 150px;
    padding: 40px;
    overflow: hidden;
}

.client img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    filter: opacity(0.7);
    transition: 0.1s linear;
}

.client:hover img {
    filter: opacity(1);
    transition: 0.1s linear;
}

footer {
    padding: 7vh;
    height: 30vh;
    display: grid;
    grid-template-rows: auto auto;
}

/* util */

.nav-btn {
    position: fixed;
    top: 25px;
    right: 25px;
    font-size: 2em;
    z-index: 101;
    padding: 5px;
    padding-top: 9px;
    transform: translateY(0px);
    transition: 0.1s linear;
}

.nav-btn:hover {
    transform: translateY(-5px);
    cursor: pointer;
    transition: 0.1s linear;
}

nav h1 a::after {
    display: none;
}

.hero-img {
    min-height: 100vh;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .hero-img {
        width: auto;
        height: 100%;
        left: -45%;
    }
}

.cta-label {
    font-size: 1.8em;
    color: #242424;
    display: block;
    margin-bottom: 7px;
}

.cta-action {
    position: relative;
    color: var(--logo-color-1);
    font-weight: bold;
    font-size: 1.3em;
    transition: 0.1s linear;
}

.cta-action:active {
    color: white;
    transition: 0.1s linear;
}

.cta-action::after {
    content: '';
    width: 0%;
    height: 2px;
    background: var(--logo-color-1);
    position: absolute;
    left: 0%;
    top: 100%;
    transition: 0.1s linear;
    z-index: -1;
}

.cta-action:hover::after {
    width: 100%;
    left: 0%;
    transition: 0.1s linear;
}

.cta-action:active::after {
    top: -5px;
    left: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
}

.logo-color-1 {
    color: var(--logo-color-1);
}

.hero-o {
    position: relative;
}

.hero-o::after {
    content: '.';
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    bottom: -0.1em;
    font-size: 0.9em;
    color: var(--logo-color-1);
}

.float-up {
    opacity: 0;
    transform: translateY(50px);
    transition: 0.2s linear;
}

.float-up.floated {
    opacity: 1;
    transform: translateY(0px);
    transition: 0.2s linear;
}

/* cursor */

.cursor-center {
    position: fixed;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    backdrop-filter: invert();
    top: -3px;
    left: -3px;
    z-index: 102;
    pointer-events: none;
}

.cursor-outside {
    position: fixed;
    width: 42px;
    height: 42px;
    border: 1px solid black;
    background: #ffffff26;
    border-radius: 50%;
    backdrop-filter: invert();
    top: -21px;
    left: -21px;
    z-index: 102;
    pointer-events: none;
}

@media (max-width: 768px) {
    * {
        cursor: auto;
    }

    .cursor-center {
        display: none;
    }

    .cursor-outside {
        display: none;
    }
}